@model MvcTemplate.Web.Controllers.CreatePhoneInputModel
@{
    ViewBag.Title = "CreatePhone";
}

<h2>CreatePhone</h2>



@using (Html.BeginForm("CreatePhone", "Phones", FormMethod.Post))
{
    @Html.ValidationSummary(true);

    @Html.LabelFor(x => x.Manufacter)
    @Html.TextBoxFor(x => x.Manufacter, new {@class="form-control"});

    @Html.LabelFor(x => x.Model)
    @Html.TextBoxFor(x => x.Model, new { pes_sho = "ivan", @class="form-control"});


    @Html.LabelFor(m => m.Year);
    @Html.DropDownListFor(m => m.Year, Model.AvaivableYears, new { @class = "form-control"});

    <input type="submit" value="Create" class="btn btn-info"/>
}